.container {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.container > div {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  margin: auto;
}

.sliders {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  padding: 5px;
}

label {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderLabel {
  align-self: flex-start;
}

input {
  width: 100%;
}
/* img {

} */